@media (min-width: 768px) {
  #rju-root {
    padding: 8px;
  }
}

.page-layout {
  margin-left: auto;
  margin-right: auto;
  color: #828282;
  font-size: 10pt;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #f6f6ef;
}

@media (min-width: 768px) {
  .page-layout {
    width: 85%;
  }
}

.page-layout a {
  color: #828282;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #ff6600;
  color: #000000;
  font-size: 10pt;
  overflow: hidden;
}

.page-header a {
  color: #000000;
}

.page-header__logo a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.page-header__logo img {
  width: 18px;
  height: 18px;
  padding-right: 4px;
}

.page-header__subreddit {
  display: flex;
}

.page-header__subreddit_link {
  color: #000000;
  text-transform: lowercase;
}

.page-header__subreddit_separator {
  margin-left: 3px;
  margin-right: 3px;
}

.post-list {
  padding: 5px 0;
}

.post-list__list {
  list-style: auto;
  margin-left: 30px;
}

.post-result {
  margin-bottom: 5px;
}

.post-result__meta {
  font-size: 8pt;
}

.post-result__title {
  color: #000000;
}

.post-result__title a {
  color: #000000;
}

.post-result__url {
  font-size: 8pt;
}
